Complements/Taux de reaction/Taux_Donnelly/Allrates1s_2p.mat
Complements/Taux de reaction/Taux_Donnelly/Allrates_neutral.mat
Complements/Taux de reaction/Taux_Donnelly/AllratesGround_1s.mat
Complements/Taux de reaction/Taux_Donnelly/AllratesGround_2p.mat
Complements/Taux de reaction/Taux_Donnelly/AllratesQuenching_1s.mat
Complements/Taux de reaction/Allrates1s_2p.mat
Complements/Taux de reaction/Allrates_neutral.mat
Complements/Taux de reaction/AllratesGround_1s.mat
Complements/Taux de reaction/AllratesGround_2p.mat
Complements/Taux de reaction/AllratesQuenching_1s.mat
Complements/Taux de reaction/AllratesGround_2p_HighP.mat
Complements/Taux de reaction/M_Allrates1s_2p.mat
Complements/Taux de reaction/M_Allrates_neutral.mat
Complements/Taux de reaction/M_AllratesGround_1s.mat
Complements/Taux de reaction/M_AllratesGround_2p.mat
Complements/Taux de reaction/M_AllratesQuenching_1s.mat
Complements/Taux de reaction/M_AllratesGround_2p_HighP.mat

